body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(198, 69, 110);
}
.yellow {
    background-color: rgb(235, 133, 50);
}
.green {
    background-color: rgb(27, 129, 126);
}
.purple {
    background-color: rgb(90, 110, 221);
}

.flash{
    background-color: rgb(255, 252, 251);
}

.userFlash {
    background-color:rgb(13, 21, 247) ;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(34, 244, 149);
}

h3 {
    color:rgb(255, 0, 89)
}